body {
  margin: 0;
  font-family: Arial;
  color: #7b8d93; }

.game-wrapper {
  display: flex;
  justify-content: center; }
  .game-wrapper__game {
    box-sizing: border-box;
    height: 100vh;
    width: 50%;
    border: 3px solid lightgray;
    border-right: none; }
    .game-wrapper__game-settings {
      width: 90%;
      margin: 50px auto;
      height: 40px;
      display: flex;
      justify-content: space-around; }
      .game-wrapper__game-settings_setting {
        cursor: pointer;
        border-radius: 5px;
        outline: none;
        border: 2px solid black;
        box-sizing: border-box; }
      .game-wrapper__game-settings_mode {
        position: relative;
        margin: 0;
        padding: 0;
        height: 98%;
        width: 35%;
        background: #cfd8dc;
        border: none;
        color: #7b8d93;
        cursor: pointer;
        border-radius: 5px;
        padding: 0 3%; }
        .game-wrapper__game-settings_mode option:first-child {
          display: none; }
      .game-wrapper__game-settings_name {
        width: 35%;
        background: #f3f3f3;
        color: #7b8d93;
        border: none;
        padding: 0 3%; }
      .game-wrapper__game-settings .fill-input {
        border: 2px solid #e85a5f; }
      .game-wrapper__game-settings_submit {
        width: 15%;
        background: #7b8d93;
        color: #fff;
        font-weight: bold;
        border: none; }
    .game-wrapper__game-field {
      margin: auto;
      display: grid;
      grid-template-columns: 40px 40px 40px 40px 40px;
      grid-template-rows: 40px 40px 40px 40px 40px;
      border: 1px solid lightgray;
      width: fit-content; }
      .game-wrapper__game-field .cell {
        border: 1px solid lightgray; }
        .game-wrapper__game-field .cell-next {
          background: #00e871; }
        .game-wrapper__game-field .cell-user {
          background: #42d8e8; }
        .game-wrapper__game-field .cell-computer {
          background: #e85a5f; }
  .game-wrapper__list {
    box-sizing: border-box;
    height: 100vh;
    width: 50%;
    border: 3px solid lightgray;
    box-sizing: border-box;
    padding: 0 5%; }
    .game-wrapper__list-title {
      margin: 55px 0 40px; }
    .game-wrapper__list-winner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 7vh;
      width: 100%;
      box-sizing: border-box;
      padding: 0 3%;
      background: #cfd8dc;
      margin-bottom: 5px; }
