&__list{
  box-sizing: border-box;
  height: 100vh;
  width: 50%;
  border: 3px solid lightgray;
  box-sizing: border-box;
  padding: 0 5%;
  &-title{
    margin: 55px 0 40px;
  }
  &-winner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    width: 100%;
    box-sizing: border-box;
    padding: 0 3%;
    background: #cfd8dc;
    margin-bottom: 5px;
  }
}
