body{
  margin: 0;
  font-family: Arial;
  color: #7b8d93;
}
.game-wrapper{
  display: flex;
  justify-content: center;
  &__game{
    box-sizing: border-box;
    height: 100vh;
    width: 50%;
    border: 3px solid lightgray;
    border-right: none;
    //settings
    @import 'settings';
    //game field
    @import 'game';
  }
  @import 'leaderboard';
}
