&-settings{
  width: 90%;
  margin: 50px auto;
  height: 40px;
  display: flex;
  justify-content: space-around;
  &_setting{
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    border: 2px solid rgba(0,0,0,1);
    box-sizing: border-box;
  }
  &_mode{
    position: relative;
    margin: 0;
    padding: 0;
    height: 98%;
    width: 35%;
    background: #cfd8dc;
    border: none;
    color: #7b8d93;
    cursor: pointer;
    border-radius: 5px;
    padding: 0 3%;
    option:first-child{
      display: none;
    }
  }
  &_name{
    width: 35%;
    background: #f3f3f3;
    color: #7b8d93;
    border: none;
    padding: 0 3%;
  }
  .fill-input{
    border: 2px solid #e85a5f;
  }
  &_submit{
    width: 15%;
    background: #7b8d93;
    color: #fff;
    font-weight: bold;
    border: none;
  }
}
